<div class="pf">
  <div class="pf-img">
    <app-image-carousel [imageArray] = "ImagesArray" (emitImageId)="onEmitImageId($event)"></app-image-carousel>
  </div>
  <div class = "pf-subimg">
    <div class="pf-subimg-gal" #articleGallery>
      <div class="pf-subimg-gal-images" #eachImage *ngFor="let item of ImagesArray; let i = index">
        <div id = img-{{i+1}}>
          <img [src]= "_DomSanitizationService.bypassSecurityTrustUrl(item)"/>

        </div>
      </div>
    </div>
    <div class="pf-subimg-title">
      <div class="pf-subimg-title-head">
            Feature Title here
      </div>
      <div class="pf-subimg-title-desc">
        It is a long established fact that a content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      </div>
      <button class="pf-subimg-title-btn">
        Read The Article
      </button>

    </div>

  </div>
</div>
