<div class="punya-form">
  <div class="punya-form_title"> Contact Us </div>
  <div class="punya-form_txt"> Hello User! We are excited to talk to you. Please give us a call on the specified phone number or you can also fill this form and click submit. We will get back to you as soon as we can.</div>
  <div class="punya-form_frm">
    <form>
      <div class="punya-form_frm_name">Name : <input class="punya-form_txtarea" type="text"> </div>
      <div class="punya-form_frm_email">Email : <input class="punya-form_txtarea" type="email">  </div>
      <div class="punya-form_frm_phone">Phone Number : <input class="punya-form_txtarea" type="text"> </div>
      <div class="punya-form_frm_phone">Are you a ?</div>
      <div class="punya-form_frm_about">
        <div><textarea type="text" class="punya-form_frm_about_cmnts" placeholder="Describe in few words the reason to contact us..."></textarea></div>
        <button class="punya-form_frm_about_btn"> Submit </button>
      </div>
    </form>
  </div>
</div>
