<div class = "punya_bg">

  <div class = "punya_bg-title jumbotron">
    <div class="punya_bg-bar">
      <div class="punya_bg-title-icon"></div>
      <div class = "punya_bg-title-text">
        <div class="punya_bg-title-text-first">PUNYAKSHETRAALU</div>
        <div class="punya_bg-title-text-second"> Media / News Company</div>
      </div>
    </div>
  </div>
  <!--tabs-->
  <div class="punya_bg-navbar container-fluid">
    <div class="punya_bg-navbar-dropdown">
      <i class="fa fa-list" aria-hidden="true"></i>
    </div>
    <div class = "punya_bg-navbar-tabs">
      <ul class="nav nav-pills">
        <li class="nav-item" routerLink = "/">
          Home
        </li>
        <li class="nav-item" routerLink = "/about">
          About
        </li>
        <li class="nav-item" routerLink = "/gallery">
          Gallery
        </li>
        <li class="nav-item" routerLink = "/stories">
          Articles
        </li>
        <li class="nav-item" routerLink = "/bhagavadgita">
          Bhagavad Gita
        </li>
        <li class="nav-item" routerLink = "/fun-to-learn">
          Fun Learn
        </li>

      </ul>
    </div>

    <div class = "punya_bg-navbar-contact">
      <ul class="nav nav-pills">
        <li class="nav-item">
          punyakshetraalu@gmail.com
        </li>
        <li class="nav-item">
          +91 - 9490993819
        </li>

      </ul>
    </div>

  </div>
  <div class="punya_bg-component">

    <router-outlet></router-outlet>


  </div>




</div>

